<div class="sidebar-menu">

    <div class="create-notes">
        <div class="create-notes create-notes_expand"><span (click)="subList()"><i class="fa-solid fa-caret-{{iconName}}"></i></span></div>
        <div class="create-notes create-notes_title">Create Notes</div>
        <div class="create-notes create-notes_add"><span (click)="createNotes()"><i class="fa-solid fa-plus"></i></span></div>
    </div>

    <div *ngIf="condition" class="notes-list">

        <div class="notes-list-element" [ngClass]="i == indexValue ? 'notes-list-element-active' : ''" *ngFor="let item of notesList; let i = index;" (click)="viewNotes(item, i)">
            <span class="notes-list-element-item">{{item.text}}</span>
        </div>

    </div>

</div>